# Configuration Supabase - Connection String
DATABASE_URL=postgresql://postgres:YjxBJtgTwSlBxnSQ@db.kbeseafmtepfjatzvjnr.supabase.co:5432/postgres

# Configuration n8n
PORT=5678
N8N_LOG_LEVEL=info
GENERIC_TIMEZONE=Europe/Paris
TZ=Europe/Paris
N8N_DEFAULT_LOCALE=fr
N8N_ENCRYPTION_KEY=votre-clé-d-encryption-personnalisée

# URL de votre déploiement Vercel
WEBHOOK_URL=https://votre-projet.vercel.app